[submodule "pcb_desings/iot-postbox/libs/misc_footprints"]
	path = pcb_desings/iot-postbox/libs/misc_footprints
	url = https://github.com/kubabuda/misc_footprints
[submodule "pcb_desings/iot-postbox/libs/tp4056"]
	path = pcb_desings/iot-postbox/libs/tp4056
	url = https://github.com/alltheworld/tp4056
[submodule "pcb_desings/libs/Espressif"]
	path = pcb_desings/libs/Espressif
	url = https://github.com/espressif/kicad-libraries.git
